* {
  box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f8e3c9;
}

#app {
    min-height: 100vh;
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
}
